.CipherCard {
  position: relative;
  background-color: rgba(133, 187, 250, 0.48);
  padding: 25px 20px;
  border: 1px solid transparent;
  border-color: #768abb;
  color: #055160;
  font-weight: 700;
}
