.MainPage {
  text-align: center;
}

.mainWrapper {
  max-width: 720px;
  .title {
    animation: ease-out 1s fadeIn;
    position: relative;
    overflow: hidden;
    padding: 4px;
    .subtilte {
      position: absolute;
      animation: ease-out 1s fadeInSecondary;
    }
  }
  h1 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }

  .buttonsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 20px;
    animation: ease-out 1s fadeIn;
    @media (max-width: 719px) {
      gap: 20px;
    }
  }
}

.invisible {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSecondary {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
