.NoteForm {
  max-width: 100%;
  width: 560px;
  &::before {
    content: 'Write the note you want to encrypt:';
    display: block;
    font-size: 26px;
    padding-bottom: 18px;
    text-align: center;
    font-weight: 600;
  }
  textarea {
    width: 100%;
  }
  button {
    display: block;
    margin: 20px auto 0;
  }
}
